html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

.container {
  max-width: 840px;
  margin: 0 auto;
}

header, mark {
  text-align: center;
}

header > img {
  max-width: 150px;
  max-height: 150px;
}

.social a {
  text-decoration: none;
  padding: 0 0.5rem;
}

.social img {
  width: 2rem;
  height: 2rem;
}

footer {
  padding-bottom: 1rem;
}

.col-container {
  display: flex;
  justify-content: space-between;
}

@media all and (max-width: 719px) {
  .col-container {
    flex-direction: column;
  }
}

header, .col, footer {
  margin-left: 5%;
  margin-right: 5%;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,
   rgba(0, 0, 0, 0),
   rgba(0, 0, 0, 0.75),
   rgba(0, 0, 0, 0.95),
   rgba(0, 0, 0, 0.75),
   rgba(0, 0, 0, 0)
  );
}

header hr {
  max-width: 200px;
  margin-top: 2rem;
}

.container > hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.container > hr:first-of-type {
  max-width: 400px;
}

.col h2 {
  padding-top: 1rem;
}

footer {
  text-align: center;
}

footer a[aria-disabled=true] {
  pointer-events: none;
  color: #999;
}

footer span:not(:first-child):before {
  content: "\00B7";
  padding: 0 .5em;
}